* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: unset;
    font-size: unset;
}

.landingpage {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(59, 59, 59);
}

.landingpage * {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
